<!DOCTYPE html>
<html>
    <head>
        <title>Login for sharkTank</title>
        <link rel="stylesheet" href="styles.css">
        <style>
            body{
                width: 350px;
                height: 100%;
                margin: 0;
                padding: 60px; 
                padding-top:30px;
                margin-top:5px;
                margin:10px;
                position:absolute;
                background-image: url("../img/loginbg.jpg");
                background-repeat:no-repeat;
                background-size:cover;
                
            }
            label{
                color: aliceblue;
            }
            div{
            position:absolute;
            left:200px;
            top:20px;
            width: 400px;
            
            padding: 30px;
            margin: 20px;
            } .container{
            width:100%;
            border:3px solid aliceblue;
            padding:15px;
            }
            .signup{
            font-family:Georgia, 'Times New Roman', Times, serif;
            position:absolute;
            left:300px;
            top:10px;
            width: 400px;
            padding: 50px;
            margin: 20px;
            }input[type=text], input[type=password], input[type=tel], input[type=email] {
            width:90%;
            padding: 15px;
            margin: 5px 0px 22px 0px;
            display: inline-block;
            border: none;
            background: #f1f1f1;
            }
            button,a{
            background-color:rgb(77, 132, 235);
            padding:10px;
            border-style: outset;
            position:relative;
            }
        </style>
    </head>
<body>

<div class="login" >
  <form id="login" method="post">
    <h1 style="color: aliceblue;">Login</h1>
    <div class="container">
        
      <label for="email"><b>email</b></label>
      <input type="email" placeholder="xyz@gmail.com" id="email" name="email" required><br>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="psw" name="psw" required><br>
      
      <button type="submit" class="signupbtn">Login</button>
     
  </form>
      
      <p>
          <a style="color: aliceblue;" href="http://localhost:8000/signup">Sign up</a>
      </p>
  </div>
</div>

</body>
</html>